STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/tranh_tran_vien
DB_NAME=tranh_tran_vien
MEDUSA_BACKEND_URL=http://localhost:9000
MEDUSA_ADMIN_MAX_UPLOAD_FILE_SIZE=52428800

NODE_ENV=development
PAYOS_RETURN_URL=http://localhost:8000/vn/checkout/payos/return
PAYOS_CANCEL_URL=http://localhost:8000/vn/checkout/payos/return


# Cloudflare R2 / S3-compatible storage
# Leave these empty to use local file storage in development.
S3_ENDPOINT=https://0b8fd71deddcde0f02a32da80efaba2f.r2.cloudflarestorage.com
S3_REGION=auto
S3_BUCKET=tranh-tran-vien
S3_ACCESS_KEY_ID=9a188b5a003cc51e67826f06a0a0d75f
S3_SECRET_ACCESS_KEY=bdd2c351367be876298f5697512a82719f5abda2faa223dd34c80dcc95ea424d
S3_FILE_URL=https://pub-07f74b9e51c34577a72d9a10410acd9d.r2.dev
S3_PUBLIC_BASE_URL=https://pub-07f74b9e51c34577a72d9a10410acd9d.r2.dev

PAYOS_CLIENT_ID=8f0c0606-0219-4ee9-a017-e3835c13fb58
PAYOS_API_KEY=fded0ee5-353a-4043-a045-0962623151e1
PAYOS_CHECKSUM_KEY=beb830ecbc2042e4168f4a76072108d9d28e5399d780c905f5e38b234bd71991

